:root{
    --primary-100:#0074D9;
    --primary-200:#5fa2ff;
    --primary-300:#d1ffff;
    --accent-100:#7FDBFF;
    --accent-200:#007a9b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#001F3F;
    --bg-200:#162e50;
    --bg-300:#31466a;
}
  

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-300);
    margin-left: 30px;
    margin-right: 30px;
    color: var(--text-200);
}

main{
    border: 10px;
    border-radius: 10px;
    margin: 5% 5% 3% 5% ;
    padding: 5%;
    background-color: var(--bg-100);
    color: var(--text-100);
}

main > #about{
    position: absolute;
    right: 9%;
    top: 16%;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos img {
    filter: brightness(0);
    margin: 10px;
}

.navbar{
    position: fixed;
    top: 1%;
    left: 20%;
    right: 20%;
    text-align: center;
    z-index: 0;
}

.navbar > ul {
    list-style-type: none;
    margin: 10 auto auto 10;
    padding: 0;
    
}

.navbar > ul > li{
    display:inline;
    float: inline-end;
    background-color: var(--bg-200);
    padding: 0.7em;
    margin-right: 15px;
    border-radius: 20px;
    color: var(--text-100);
}

.navbar > ul > li > a{
    color: var(--primary-300);
    text-decoration: none;
}


.navbar > ul > li:hover{
    /*Animacion de ampliar  */
    color: var(--accent-100);
}


header h1{
    font-weight: bold;
    font-size: 2em ;
}

header h2{
    font-weight: lighter;
    font-size: 1.5em;
}

footer{
    height: 3%; 
    background-color: var(--primary-300);
    position: fixed;
    left: 2.5%;
    bottom: 0;
    width: 95%;
    text-align: center;
    color: var(--bg-100);
    border-radius: 20px;
}
