:root{
    --primary-100:#0074D9;
    --primary-200:#5fa2ff;
    --primary-300:#d1ffff;
    --accent-100:#7FDBFF;
    --accent-200:#007a9b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#001F3F;
    --bg-200:#162e50;
    --bg-300:#31466a;
}
  

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-300);
    margin-left: 30px;
    margin-right: 30px;
    color: var(--text-200);
}

main{
    position: static;
    right: 9%;
    top: 16%;
    }

.tags{
    border: 10px;
    border-radius: 10px;
    margin: 5% 5% 3% 5% ;
    padding: 5%;
    background-color: var(--bg-100);
    color: var(--text-100);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos img {
    filter: grayscale(0);
    margin: 7% 2% 8% 2%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 40%;
    right: 40%;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(2px);
}

.navbar > ul {
    list-style-type: none;
    margin: 10 auto auto 10;
    padding: 0;
    
}

.navbar > ul > li{
    display:inline;
    float: inline-end;
    background-color: var(--bg-200);
    padding: 0.7em;
    margin-right: 15px;
    border-radius: 20px;
    color: var(--text-100);
}

.navbar > ul > li > a{
    color: var(--primary-300);
    text-decoration: none;
}


.navbar > ul > li:hover{
    /*Animacion de ampliar  */
    color: var(--accent-100);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .project {
    margin-bottom: 2rem;
    display: inline;
    flex-basis: 45%;
    /* How to space between projects */
  }
  
  .project img {
    display: inline;
    border-radius: 10px;
  }
  
  

header h1{
    font-weight: bold;
    font-size: 2em ;
}

header h2{
    font-weight: lighter;
    font-size: 1.5em;
}

footer{
    height: 5%; 
    background-color: var(--primary-300);
    bottom: 1em;
    width: 100%;
    text-align: center;
    color: var(--bg-100);
    border-radius: 20px;
}
